{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <!-- Div 2: Room Information -->
        <div class="room-info">
            <h1>{{room_category}}</h1>
            <p>Amazing room services, wonderful location, peaceful environment along with fresh organic food.</p>
        </div>

            <!-- Div 3: Room Booking Form -->
            <!-- <form id="booking-form" action="" method="POST"></form> -->
            <form id="booking-form" method="POST">
            {% csrf_token %}
                <h6>Are you sure you wanna cancel this Booking?</h6>
                <!-- Input Div -->
                <div class="input-div">
                  <a href="">
                    <button class="btn btn-danger type="submit" name="" value="{{ cancel }}">Yes Cancel My Booking</button>
                  </a>
                </div>
                <div>
                  <!-- <a href="{% url 'BookingListView' %}">
                    <button class="btn btn-warning">No</button>
                  </a> -->
                  <a class="nav-link active" aria-current="page" href="{% url 'BookingListView' %}">
                    Click Here To Cancel
                  </a>
                </div>

            </form>

        </div> 
    </div> 
{% endblock %}