{% extends "base.html" %}
{%  block content %}
<section class="search-container mb-5 pb-5">
    {% if user.is_authenticated %}
        <div class="container"> 
            <div class="d-flex flex-column align-items-center justify-content-center check_availability">
                <div class="headings m-4">
                    <div id="search-bar" style="color: #fff;">
                        <form method="POST" class="search-form m-0" action="{% url 'home' %}">
                        <!-- This form is not fuctional as still under process -->
                        {% csrf_token %}
                        {{ form.as_p }}
                            <!-- <div class="date-row row text-dark fs-6">
                                <div class="form-group d-flex justify-content-center col-sm-6 ">
                        {{form.check_in.errors}}
                                    <label class="mr-2" for="{{form.check_in.id_for_label}}">From:</label>
                        {{form.check_in}}
                                </div>
                                <div class="form-group d-flex justify-content-center col-sm-6 ">
                        {{form.check_out.errors}}
                                        <label for="{{form.check_out.id_for_label}}">To:</label>
                        {{form.check_out}}
                                </div>
                            </div>
                            <div class="room-row row text-dark fs-6">
                        {{form.room_category.errors}}
                                <label for="{{form.room_category.id_for_label}}">Room Category</label>
                        {{form.room_category}}
                            </div> -->
                            <div class="form-group row mw-50 m-2">
                                <button class="btn btn-primary col-12  mw-50 " type="submit">Book a room
                                    <a href="{{'BookingListView'}}" ></a>
                                </button>
                            </div>
                        </form> 
                    </div>
                        {% else %}
                        <p><strong>Welcome to Dream Farmhouse!<strong></p>
                        <p>Please click on login for booking</p>
                        <a href="{% url 'account_login' %}">
                            <button>Login</button>
                        </a>
                </div>
            </div>
        </div>
    {% endif %}
</section>
{% endblock %}
