@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

#home {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

a {
  list-style: none;
}
.nav {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 50px;
  padding: 1.5rem;
  background-color: (255, 255, 255, 0.1) !important;
}
.nav ul.navlist {
  position: absolute;
  right: 1.5rem;
  color: #fff;
}
.nav ul.navlist a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#logo {
  font-family: "Great Vibes", cursive;
  flex: 0 1 200px;
  color: #000;
  z-index: 1;
}


#search-bar {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff9f9;
  border-radius: 10px;
  padding: 0, auto;
  margin: 0, auto;
}

.check_availability {
  background-color: beige;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.form-group a#dropdownMenuLink {
  min-width: 215px;
  flex: 7;
  margin: 0 0.1rem;
}

.form-group input,
.form-group label,
.form-group div.dropdown {
  flex: 1 1 100px;
}
input {
  border-radius: 5px;
}